@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font-family: "Lato", sans-serif;
}
body #root > header {
  background: #F6F5FF;
  font-family: "Josefin Sans";
  color: #101750;
  font-size: 36px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
body #root > main {
  background: #fff;
  padding: 0 30px 30px;
}
body #root > main .page-title {
  font-family: "Josefin Sans";
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
  color: #101750;
}
body #root > main .content {
  display: flex;
  align-items: start;
}
body #root > main .content section {
  flex: 1;
}
body #root > main .content aside {
  background: #F4F4FC;
  min-width: 250px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: 3px solid #eee;
}
table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  color: #1D3178;
}
table tbody tr {
  border-bottom: 3px solid #eee;
  font-family: "Josefin Sans";
}
table tbody tr:last-child {
  border: 0;
}
table tbody tr td {
  padding: 30px 0;
}

.product {
  display: flex;
  align-items: center;
}
.product img {
  border-radius: 8px;
  width: 83px;
}
.product .info {
  margin-left: 20px;
}
.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}
.product .info .category {
  color: #000000;
}

.qty {
  background: #eee;
  display: inline-flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
  height: 30px;
}
.qty span {
  margin: 0 10px;
}
.qty button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 18px;
  height: 100%;
  cursor: pointer;
}
.qty button:hover {
  background: #d2d2e6;
}

.remove {
  background: #F4F4FC;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
.remove:hover {
  background: #d2d2e6;
}

aside {
  margin-left: 30px;
}
aside .box {
  margin-bottom: 15px;
  border: 1px solid #d2d2e6;
  background: #ddddf1;
}
aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #a4a4ef;
  color: #142a72;
}
aside .box .info {
  padding: 20px;
}
aside .box .info > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #3853b4;
}
aside .box .info > div:last-child {
  margin: 0;
}
aside .box .info button {
  color: rgb(33, 125, 33);
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
aside .box .info i {
  font-size: 18px;
}
aside .box footer {
  padding: 15px 20px;
  font-size: 18px;
  padding: 20px;
  background: #d4d4ec;
  color: #142a72;
  display: flex;
  justify-content: space-between;
}
aside > button {
  border: 0;
  padding: 15px 0;
  color: #fff;
  background: #cacae8;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
}
aside > button:hover {
  background: #317841;
}

.modal {
  width: 400px;
  height: 300px;
  background: #d7d7f0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 3s0px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modal modal-close {
  display: flex;
  flex-direction: column;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */