
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;

#root{
  >header {
    background: #F6F5FF;
    font-family: 'Josefin Sans';
    color: #101750;
    font-size: 36px;
    padding: 20px 0;
  
    display: flex;
    justify-content: center;
  }
  
  >main {
    padding: 0 30px 30px;
  
    .page-title {
      font-family: 'Josefin Sans';
      font-size: 40px;
      padding: 50px 0;
      text-align: center;
      color: #101750;
    }
    
    .content {
      display: flex;
      align-items: start;
  
      section {
        flex: 1;
      }
      aside {
        background:  #F4F4FC;
        min-width: 250px;
  
      }
    } 
  }
}
  
}


table {
  width: 100%;
  border-collapse: collapse;
  
  thead{
    tr {
        border-bottom: 3px solid #eee;
        
      th{
        text-align: left;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-family: 'Josefin Sans';
        color: #1D3178;
      } 
      
    }
  }
  tbody {
    tr {
        border-bottom: 3px solid #eee;
        font-family: 'Josefin Sans';

        &:last-child {
          border: 0;
        }
      td {
        padding: 30px 0;
      }
    }


  }
}

.button {
  border: 0;
    padding: 12px 0;
    color: #fff;
    background: #19D16F;
    display: block;
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;

    &:hover {
      background: #317841;
    }
}

.product {
  display: flex;
  align-items: center;

  img {
    border-radius: 8px;
    width: 83px;
  }

  .info {
    margin-left: 20px;
    .name {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .category {
      color: #000000;;
    }
  }
} 

.qty {
  background: #eee;
  display: inline-flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
  height: 30px;

  span {
    margin: 0 10px;
  }

  button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 18px;
    height: 100%;
    cursor: pointer;
    
    &:hover {
        background: #d2d2e6;;
    }
  }
}



.remove {
  background: #F4F4FC;;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background: #d2d2e6;;
  }
}

aside {
  margin-left: 30px;
  .box {
    margin-bottom: 15px;
    border: 1px solid #d2d2e6;
    border-radius: 3px;

    background: #ddddf1;;

    header {
      padding: 15px 20px;
      font-size: 18px;
      border-bottom: 1px solid #a4a4ef;
      color: #142a72;
    }

    .info{
      padding: 20px;

      > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #3853b4;

        &:last-child{
          margin: 0;
        }
      }
      button {
        color: rgb(33, 125, 33);
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      i {
        font-size: 18px;
      }
    }

    footer {
      padding: 15px 20px;
      font-size: 18px;
      padding: 20px;
      background: #d4d4ec;
      color: #142a72;
      display: flex;
      justify-content: space-between;
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  width: 400px;
  height: 300px;
  background: #d7d7f0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}

.header-titulo {
  color: var(--text, #151875);
  font-size: 36px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.lit-compra { 
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 53px;
  list-style: none;
  text-align: center;

  .thumb {
    width: 270px;
    height: 280px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
  } 
}

.vazio {
  text-align: center;
  a {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    background: #ff1788;
    padding: 14px 36px;
    border-radius: 3px;
  }
  .header-titulo {
    margin: 0;
  }
}

.header {
  text-align: right;
  padding:  20px;
  background: #7e33e0;
  
  a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
  }
  .quantidade {
    margin: 0 5px;
    padding: 5px 7px;
    background: #fff;
    color: #7e33e0;
    display: inline-block;
    line-height: 1;
    font-size: 11px;
    border-radius: 50%;
    

  }

}

.hero {
  background: #F6F5FF;
  padding: 82px 0;
  margin-bottom: 130px;
}

.lista-favorito {
  .thumb{
    height: 215px;
    width: 310px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  li {
    list-style: none;
    padding: 0;
  }
}

.button-icone {
  background: transparent;
  border: 0;
  font-size: 18px;
  padding: 7px 7px 4px;
  border-radius: 20px;
  cursor: pointer;
 
  color: #535399;
  &:hover {
    background: #535399;
    color: #fff;
  }

  &:not(:last-child){
    margin-right: 20px;
  }
}


